.container{
    text-align: center;
}
.footer{
    margin-top: 100px;
    text-align: center;
}
.slidbar{
    margin-top: -300px;
    text-align: right;
}
.main{
    text-align: left;
    margin-top: -100px;
}
.child{
    font-size: large;
}
.li-input {
    text-align: center;
    border: 3px solid blue;
    background-color: aquamarine;
    }
 #ps2{
    text-align: left;
 }
 .style{
    border: 3px solid blue;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    height: 30px;
 }