  <!-- <div class="container">
    <btn-app></btn-app>
  </div>
<div class="footer">
  <footer-app></footer-app>
</div>
<div class="slidbar">
  <slidbar-app></slidbar-app>
</div>
<div class="main">
  <main-app></main-app>
</div>
<div class="child">
  <app-child [input]="value" (addNewUser)="print($event)"></app-child>
</div>
<p>{{printEvent}}</p> -->
<!-- <div class="list">
  <app-users-list ></app-users-list>
</div> -->
<!-- <div class="li-input">
  <app-input-box (addTaskEvent)="addTasks($event)"></app-input-box>
  <button (click)="saveToBackend()"   >saveToBackend</button>
</div>
<ng-container *ngFor="let task of taskList">
<app-checked-box [line]="task"></app-checked-box>

</ng-container> -->
<router-outlet></router-outlet>
<ul class="style">
  <li><a routerLink="/aboutus">aboutus</a></li>
  <li><a routerLink="/contectus">contactus</a></li>
  <li><a routerLink="#">home</a></li>
</ul>