.container{
    text-align: center;
}
.footer{
    margin-top: 100px;
    text-align: center;
}
.slidbar{
    margin-top: -300px;
    text-align: right;
}
.main{
    text-align: left;
    margin-top: -100px;
}
.child{
    font-size: large;
}
.li-input {
    text-align: center;
    }
 #ps2{
    text-align: left;
 }