.icon{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
//   padding: 10%;
  .img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
//   padding: 10%;
  
  }
}
   
